# 分流作用：对OpenAI相关服务进行分流

# > ChatGPT
DOMAIN-SUFFIX,openai.com
DOMAIN-SUFFIX,auth0.com
HOST-SUFFIX,ai.com
HOST-SUFFIX,oaistatic.com
HOST-SUFFIX,chatgpt.com

# > New bing
HOST-SUFFIX,bing.com
HOST-SUFFIX,bing.com.cn
HOST-SUFFIX,bing.net
HOST-SUFFIX,bingads.com
HOST-SUFFIX,bingapis.com
HOST-SUFFIX,microsoft.com

#> genie
DOMAIN-SUFFIX,appsflyer.com
DOMAIN-SUFFIX,app-measurement.com
HOST-SUFFIX,api.adapty.io
HOST-SUFFIX,http://cdn-settings.appsflyersdk.com
