# 分流作用：对OpenAI相关服务进行分流

# > ChatGPT
DOMAIN-SUFFIX,openai.com
DOMAIN-SUFFIX,auth0.com
host-suffix, ai.com, OpenAI
host-suffix, openai.com, OpenAI
host-suffix, vimeo.com, OpenAI
host-suffix, vimeocdn.com, OpenAI
host-suffix, hcaptcha.com, OpenAI
host-suffix, akamaized.com, OpenAI
host, cdn.auth0.com, OpenAI
host, openaiapi-site.azureedge.net, OpenAI

# > New bing
DOMAIN-SUFFIX,bing.com
DOMAIN-SUFFIX,live.com
DOMAIN-SUFFIX,self.events.data.microsoft.com
